<?xml version="1.0"?>
<launch>
<!--    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch" />-->
    <node pkg="pkg" name="main" type="main.py" output="screen">
        <rosparam param = "goals">[[3.3,1]]</rosparam>
    </node>
    <node pkg="pkg" name="move" type="move.py" output="screen" />
</launch>
